<h1>Login</h1>

<%= form_for :session, url: login_path do |f| %>
    <div class="container">
        <%= f.label "Username" %><br>
        <%= f.text_field :username %>
    </div>

    <div class="container">
        <%= f.label "Password" %><br>
        <%= f.password_field :password %>
    </div>

    <div class="container">
        <%= f.submit "Log in" %>
    </div>
<% end %>
