<h1>Login</h1>

<%= form_for :session, url: login_path do |f| %>
<p>
    <%= f.label "Username" %><br>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label "Password" %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit "Log in" %>
  </p>
<% end %>
