<h1>Edit task</h1>

<% if @task.errors.full_messages.any? %>
    <% @task.errors.full_messages.each do |message| %>
    <div class="alert alert-danger"><%= message %></div> </br>
    <% end %>
<% end %>

<%= form_for :task, url: edittask_path do |f| %>
    <div class="container">
        <%= f.label "Description" %><br>
        <%= f.text_field :description %>
    </div>

    <div class="container">
        <%= f.label "Weight" %><br>
        <%= f.text_field :weight %>
    </div>

    <div class="container">
        <%= f.label "Assigned user" %><br>
        <%= f.select :user_id, User.joins(:memberships).where(memberships: {board_id: current_board.id, role: Membership.roles[:developer]}).collect {|user| [user.username, user.id]}, {:include_blank => 'Unassigned'} %>
    </div>


    <%= f.hidden_field :story_id, :value => @task.task_column_id %>
    <%= f.hidden_field :task_column_id, :value => @task.task_column_id %>
    <%= f.hidden_field :position, :value => @task.position %>

    <div class="container">
        <%= f.submit "Save changes!" %>
    </div>
<% end %>

<%= link_to 'Return to ' + current_board.name, current_board %>
