<div class='content_wrapper'>
  <div class='story_wrapper'>

    <h1 class='pageTitle'>New task for <%= current_story.description%></h1>

    <% if @task.errors.full_messages.any? %>
        <% @task.errors.full_messages.each do |message| %>
        <div class="alert alert-danger"><%= message %></div> </br>
        <% end %>
    <% end %>
    <%= render partial: 'flashes' %>

    <br /><br />

    <%= form_for :task, url: newtask_path do |f| %>
        <%= f.label "Description*" %>
        <%= f.text_field :description %>

        <br /><br />

        <%= f.label "Weight (Percent)" %>
        <%= f.text_field :weight %>

        <br /><br />

        <%= f.label "Assigned developer" %>
        <%= f.select :user_id, User.joins(:memberships).where(memberships: {board_id: current_board.id, role: Membership.roles[:developer]}).collect {|user| [user.username, user.id]}, {:include_blank => 'Unassigned'} %>

        <br /><br />


        <%= f.hidden_field :story_id, :value => current_story.id  %>
        <%= f.hidden_field :task_column_id, :value => current_sprint.task_columns.first.id %>
        <%= f.hidden_field :position, :value => 0 %>



        <%= f.submit "Add task!" %>
    <% end %>

    <br /><br /><br /><br /><br />

    <%= link_to 'Return to ' + current_board.name, current_board %>
  </div>
</div>
