<h1>Register</h1>

<% if @user.errors.full_messages.any? %>
    <% @user.errors.full_messages.each do |message| %>
    <div class="alert alert-danger"><%= message %></div> </br>
    <% end %>
<% end %>

<%= form_for :user, url: signup_path do |f| %>
    <div class="container">
        <%= f.label "Username*" %><br>
        <%= f.text_field :username %>
    </div>

    <div class="container">
        <%= f.label "Password*" %><br>
        <%= f.text_field :password %>
    </div>

    <div class="container">
        <%= f.label "First name" %><br>
        <%= f.text_field :first %>
    </div>

    <div class="container">
        <%= f.label "Last name" %><br>
        <%= f.text_field :last %>
    </div>

    <div class="container">
        <%= f.submit "Register me!" %>
    </div>
<% end %>
