<h1>Register</h1>

<% if @user.errors.full_messages.any? %>
  <% @user.errors.full_messages.each do |message| %>
  <div class="alert alert-danger"><%= message %></div> </br>
  <% end %>
<% end %>

<%= form_for :user, url: signup_path do |f| %>
<p>
    <%= f.label "Username*" %><br>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label "Password*" %><br>
    <%= f.text_field :password %>
  </p>

  <p>
    <%= f.label "First name" %><br>
    <%= f.text_field :first %>
  </p>

  <p>
    <%= f.label "Last name" %><br>
    <%= f.text_field :last %>
  </p>

  <p>
    <%= f.submit "Register me!" %>
  </p>
<% end %>
