<div class='content_wrapper'>
  <div class='story_wrapper'>
    <h1 class='pageTitle'>Edit Story</h1>

    <% if @story.errors.full_messages.any? %>
        <% @story.errors.full_messages.each do |message| %>
        <div class="alert alert-danger"><%= message %></div>
        <br />
        <% end %>
    <% end %>


    <%= form_for :story, url: editstory_path do |f| %>

        <br />
        <strong><%= f.label "Description" %></strong>
        <%= f.text_field :description, :value => @story.description %>

        <br />
        <br />
        <br />

        <strong><%= f.label "Template" %></strong>
        As&nbsp;&nbsp;<%= f.text_field :as, :value => @story.as %>&nbsp;,
        I want&nbsp;&nbsp;<%= f.text_field :want, :value => @story.want %>
        so that&nbsp;&nbsp;<%= f.text_field :so_that, :value => @story.so_that %>

        <br />
        <br />
        <br />

        <strong><%= f.label "Acceptance criteria" %></strong>
        <%= f.text_field :criteria, :value => @story.criteria %>

        <br />
        <br />
        <br />

        <strong><%= f.label "Size estimate" %></strong>
        <%= f.text_field :size, :value => @story.size %>

        <br />
        <br />
        <br />

        <strong><%= f.hidden_field :story_column_id, :value => @story.story_column_id  %></strong>
        <%= f.hidden_field :position, :value => @story.position %>


        <div class="container">
            <%= f.submit "Save changes!" %>
        </div>
    <% end %>

    <%= link_to 'Return to ' + current_board.name, current_board %>
  </div>
</div>
