<h1>Add new story</h1>

<% if @story.errors.full_messages.any? %>
    <% @story.errors.full_messages.each do |message| %>
    <div class="alert alert-danger"><%= message %></div> </br>
    <% end %>
<% end %>

<%= form_for :story, url: newstory_path do |f| %>
    <div class="container">
        <%= f.label "Description" %><br>
        <%= f.text_field :description %>
    </div>

    <div class="container">
        <%= f.label "Template" %><br>
        As <%= f.text_field :as %>,
        I want <%= f.text_field :want %>
        so that <%= f.text_field :so_that %>
    </div>

    <div class="container">
        <%= f.label "Acceptance criteria" %><br>
        <%= f.text_field :criteria %>
    </div>

    <div class="container">
        <%= f.label "Size estimate" %><br>
        <%= f.text_field :size %>
    </div>

    <%= f.hidden_field :board_id, :value => current_board.id  %>

    <div class="container">
        <%= f.submit "Add story!" %>
    </div>
<% end %>

<%= link_to 'Return to ' + current_board.name, current_board %>
