<div class='content_wrapper'>
  <div class='story_wrapper'>
    <h1 class='pageTitle'>Reject Story</h1>

    <% if @story.errors.full_messages.any? %>
        <% @story.errors.full_messages.each do |message| %>
        <div class="alert alert-danger"><%= message %></div>
        <br />
        <% end %>
    <% end %>

    <br /><br />

    <% if !@story.description.blank? %>
        <div class="info">
            <span style="font-size:18px;text-decoration:underline;"><strong><%= @story.description %></strong></span>
        </div>
    <% end %>

    <br />

    <% if !@story.want.blank? %>
        <div class="info">
          <strong>Template: </strong>
            <%= "As " + @story.as + ", I want " + @story.want + " so that " + @story.so_that %>
        </div>
    <% end %>

    <br />

    <% if !@story.criteria.blank? %>
        <div class="info">
            <strong><%= 'Acceptance criteria: '%></strong><%= + @story.criteria %>
        </div>
    <% end %>

    <br />

    <% if !@story.size.blank? %>
        <div class="info">
          <strong><%= 'Size estimate: '%></strong><%= + @story.size %>
        </div>
    <% end %>

    <br />


    <% completion = completion(@story) %>
    <% if completion != -1 %>
        <div class="info completion">
            <strong><%= 'Completion: ' %></strong><%=+ completion %>
        </div>
    <% end %>

    <br /><br />

    <%= form_for :story, url: rejectstory_path(current_board.id, current_state.id, current_sprint.id, @story.id) do |f| %>
        <%= f.label "Reason for rejection:*" %>
        <%= f.text_field :rejection_reason %>

        <br /><br />

        <%= f.submit "Reject those nerds!" %>
    <% end %>

    <br /><br /><br /><br />
    <%= link_to 'Return to ' + current_board.name, current_board %>
  </div>
</div>
