<h1>Boards</h1>


<% if (params.has_key?(:id) && params.has_key?(:random)) %>
<%= "id: #{params[:id]}" %> <br/>
<%= "random: #{params[:random]}" %> <br/>
<% end %>

<%= link_to "Create new board", newboard_path %>
<br>
<br>

<% current_user.boards.each do |board|%>
    <%= link_to login_path do %>
        <div class="board">
            <div class="name">
                <%= board.name %>
            </div>
            <br>
            <div class="description">
                <%= board.description %>
            </div>
        </div>
    <% end %>
    <br>
<% end%>
