<h1>Boards</h1>


<% if (params.has_key?(:id) && params.has_key?(:random)) %>
<%= "id: #{params[:id]}" %> <br/>
<%= "random: #{params[:random]}" %> <br/>
<% end %>

<%= link_to "Create new board", newboard_path %>
<br>
<br>

<div class="boards">
<% current_user.boards.each do |board|%>
    <%= link_to board do %>
        <div class="card board">
            <span class="name">
                <%= board.name %>
            </span>
            <br><br>
            <span class="description">
                <%= board.description %>
            </span>
        </div>
    <% end %>
    <br>
<% end%>
</div>
