<h1>Invite Users</h1>


<%= form_for :invitation, url: invite_path do |f| %>

    <div class="container">
        <%= f.label "Username*" %><br>
        <%= f.text_field :username %>
    </div>

    <div class="container">
        <%= f.submit "Invite" %>
    </div>
<% end %>

<h2>Members of <%=current_board.name%></h2>
<div class="user-table">
    <% current_board.users.each do |user|%>
        <div class="user">
            <%= user.username %>
        </div>
    <% end%>
</div>
</br>

<%= link_to 'Return to ' + current_board.name , current_board %>
