<h1>Invite Users</h1>

<%= form_for :invitation, url: invite_path do |f| %>

    <div class="container">
        <%= f.label "Username*" %><br>
        <%= f.text_field :username %>
    </div>

    <div class="container">
        <%= f.label "Role" %><br>
        <%= f.select :role, Membership.roles.keys.map {|key| [key.humanize, key]} %>
    </div>

    <div class="container">
        <%= f.submit "Invite" %>
    </div>
<% end %>

<h2>Members of <%=current_board.name%></h2>
<table class="user-table">
    <tr>
        <th>Username</th>
        <th>Role</th>
    </tr>
    <% current_board.memberships.each do |membership|%>
        <tr>
            <td class="cell">
                <%= User.find(membership.user_id).username %>
            </td>
            <td class="cell">
                <%= membership.role.humanize %>
            </td>
        </tr>
    <% end%>
</table>
</br>

<% invites = current_board.invitations %>
<% if invites.any? %>
    <h2>Pending invitations</h2>
    <table class="user-table">
        <tr>
            <th>Username</th>
            <th>Role</th>
        </tr>
        <% invites.each do |invite|%>
            <tr>
                <td class="cell">
                    <%= User.find(invite.user_id).username %>
                </td>
                <td class="cell">
                    <%= invite.role.humanize %>
                </td>
            </tr>
        <% end%>
    </table>
</br>

<% end %>

<%= link_to 'Return to ' + current_board.name , current_board %>
