<h1>Create new board</h1>

<% if @board.errors.full_messages.any? %>
    <% @board.errors.full_messages.each do |message| %>
    <div class="alert alert-danger"><%= message %></div> </br>
    <% end %>
<% end %>

<%= form_for :board, url: newboard_path do |f| %>
    <div class="container">
        <%= f.label "Name*" %><br>
        <%= f.text_field :name %>
    </div>

    <div class="container">
        <%= f.label "Description" %><br>
        <%= f.text_field :description %>
    </div>

    <div class="container">
        <%= f.submit "Create board!" %>
    </div>
<% end %>
