<div class="content_wrapper">
    <div class="story_wrapper">

        <h1>Create new board</h1>

        <% if @board.errors.full_messages.any? %>
        <% @board.errors.full_messages.each do |message| %>
        <div class="alert alert-danger"><%= message %></div> <br />
        <% end %>
        <% end %>
        <%= render partial: "flashes" %>
        <br /><br />
        <%= form_for :board, url: newboard_path do |f| %>
        <%= f.label "Name*" %>
        <%= f.text_field :name %>
        <br /><br />

        <%= f.label "Description" %>
        <%= f.text_field :description %>
        <br /><br />

        <%= f.submit "Create board!" %>
        <br /><br />
        <% end %>
        <br /><br />

        <%= link_to 'Return to boards', boards_path %>

    </div>
</div>
