<%= javascript_include_tag "sortable" %>
<%= yield :js %>

<div class="boardActions">
  <div class="boardTitle"><h1><%= @board.name %></h1></div>
  <div class="singularAction"><%= link_to 'Return to boards', boards_path %></div>
  <div class="singularAction"><%= link_to 'Add story to product backlog', newstory_path %></div>
  <div class="singularAction"><%= link_to 'Manage members', invite_path %></div>
</div>
<br />

<!-- <dialog class='modal'>
<p>Greetings, one and all!</p>
</dialog>
<button onclick="function(){modal.style.display = 'block';}">I AM A BUTTON</button> -->
<!-- <div class='actions'> -->

<!-- </div> -->

<div class="column" data-col="0">
    <h2>Product Backlog</h2>
    <div class="cards">
        <% (current_board.stories.select {|story| story.column == 0}).each do |story|%>
            <div class="card">
              <%= link_to "", editstory_path(current_board.id, story.id), :class => "fa fa-edit" %>
                <% if !story.description.blank? %>
                    <div class="info">
                        <%= story.description %>
                    </div>
                <% end %>

                <% if !story.want.blank? %>
                    <div class="info">
                        <%= "As " + story.as + ", I want " + story.want + " so that " + story.so_that %>
                    </div>
                <% end %>

                <% if !story.criteria.blank? %>
                    <div class="info">
                        <%= 'Acceptance criteria: ' + story.criteria %>
                    </div>
                <% end %>

                <% if !story.size.blank? %>
                    <div class="info">
                        <%= 'Size estimate: ' + story.size %>
                    </div>
                <% end %>

            </div>
        <% end%>
    </div>
</div>

<div class="column" data-col="1">
    <h2>Sprint Backlog</h2>
    <div class="cards">
        <% (current_board.stories.select {|story| story.column == 1}).each do |story|%>
            <div class="card">
              <%= link_to "", editstory_path(current_board.id, story.id), :class => "fa fa-edit" %>
                <% if !story.description.blank? %>
                    <div class="info">
                        <%= story.description %>
                    </div>
                <% end %>

                <% if !story.want.blank? %>
                    <div class="info">
                        <%= "As " + story.as + ", I want " + story.want + " so that " + story.so_that %>
                    </div>
                <% end %>

                <% if !story.criteria.blank? %>
                    <div class="info">
                        <%= 'Acceptance criteria: ' + story.criteria %>
                    </div>
                <% end %>

                <% if !story.size.blank? %>
                    <div class="info">
                        <%= 'Size estimate: ' + story.size %>
                    </div>
                <% end %>

            </div>
        <% end%>
    </div>
</div>
<div class="column" data-col="2">
    <h2>To Do</h2>
    <div class="cards">
    </div>
</div>
<div class="column" data-col="3">
    <h2>Doing</h2>
    <div class="cards">
    </div>
</div>
<div class="column" data-col="4">
    <h2>Done</h2>
    <div class="cards">
    </div>
</div>

</br>
