<%= yield :js %>

<div class="boardActions">
    <div class="pageTitle"><span style="color:rgb(57, 127, 214);"><h1><%= @board.name %></h1></span></div>
    <div class="singularAction"><%= link_to 'Return to boards', boards_path %></div>
    <% if current_user_role == Membership.roles[:product_owner] %>
        <div class="singularAction"><%= link_to 'Add story to product backlog', newstory_path %></div>
    <% end %>
    <div class="singularAction"><%= link_to 'Manage members', invite_path %></div>
</div>
<div class="boardActions">
    <div class="singularAction"><%= button_to "New Sprint", {controller: 'sprints', action: 'create'}, {class: 'singularAction'} %></div>
    <div class="singularAction"><%= button_to "Copy State", {controller: 'states',  action: 'create'}, {class: 'singularAction', data: {confirm: 'Are you sure?'}} %></div>
    <div class="singularAction"><%= select "sprint", "sprint_id", options_for_select(current_state.sprints.reverse.collect {|sprint| ['Sprint ' + sprint.number.to_s + sprint.created_at.strftime(' (%d/%m/%y)'), sprint.id]})%></div>
    <div class="singularAction"><%= select "state",  "state_id", options_for_select(current_board.states.reverse.collect {|state| ['State from ' + state.created_at.strftime('%d/%m/%y, %l:%M %P'), state.id]})%></div>
</div>
<br />
<% current_sprint.story_columns.each do |story_column| %>
    <div class="column", id="story_column.<%= story_column.id %>" data-col="<%= story_column.position %>">
        <h2><%= story_column.name %></h2>
        <div class="cards">
            <% story_column.stories.each do |story| %>
                <div class="card" id="story.<%= story.id %>">
                    <% if current_sprint == active_state(current_board).sprints.last %>
                        <%= link_to editstory_path(current_board.id, current_state.id, current_sprint.id, story.id) do %><div class="text-fa"><span class="fa fa-edit"></span>&nbsp;Edit</div><% end %>
                        <% if current_user_role == Membership.roles[:developer] %>
                            <%= link_to newtask_path(current_board.id, current_state.id, current_sprint.id, story.id) do %><div class="text-fa"><span class="fa fa-plus-circle"></span>&nbsp;Add task&nbsp;&nbsp;</div><% end %>
                        <% end %>
                        <span class="acceptreject" style="visibility:<%= if story_column.position == 1 then 'visible' else 'hidden' end %>">
                        <% if current_user_role == Membership.roles[:product_owner] and story.acceptance.nil? %>
                            <%= link_to rejectstory_path(current_board.id, current_state.id, current_sprint.id, story.id) do %><div class="text-fa"><span class="fa fa-times"></span>&nbsp;Reject&nbsp;&nbsp;</div><% end %>
                            <%= link_to acceptstory_path(current_board.id, current_state.id, current_sprint.id, story.id) do %><div class="text-fa"><span class="fa fa-check"></span>&nbsp;Accept&nbsp;&nbsp;</div><% end %>
                        <% end %>
                        </span>
                    <% end %>

                    <% acceptance = '' %>
                    <% if !story.acceptance.nil? %>
                        <% acceptance = if story.acceptance then ' (accepted)' else ' (rejected)' end%>
                    <% end %>

                    <% if !story.description.blank? %>
                        <div class="info">
                            <strong><%= story.description + acceptance%></strong>
                        </div>
                    <% end %>

                    <% if !story.want.blank? %>
                        <div class="info">
                            <%= "As " + story.as + ", I want " + story.want + " so that " + story.so_that %>
                        </div>
                    <% end %>

                    <% if !story.criteria.blank? %>
                        <div class="info">
                            <%= 'Acceptance criteria: ' + story.criteria %>
                        </div>
                    <% end %>

                    <% if !story.size.blank? %>
                        <div class="info">
                            <%= 'Size estimate: ' + story.size %>
                        </div>
                    <% end %>

                    <% completion = completion(story) %>
                    <% if completion != -1 %>
                        <div class="info completion">
                            <%= 'Completion: ' + completion %>
                        </div>
                    <% end %>

                    <% if !story.rejection_reason.blank? %>
                        <div class="info">
                            <%= 'Reason for rejection: ' + story.rejection_reason %>
                        </div>
                    <% end %>

                </div>
            <% end %>
        </div>
    </div>
<% end %>

<% current_sprint.task_columns.each do |task_column| %>
    <div class="column" data-col="<%= task_column.position %>">
        <h2><%= task_column.name %></h2>
        <div class="cards">
            <% task_column.tasks.each do |task|%>
                <% story = Story.find(task.story_id) %>
                <div class="task" id="task.<%= task.id %>">
                    <% if current_sprint == active_state(current_board).sprints.last %>
                        <% if current_user_role == Membership.roles[:developer] %>
                            <%= link_to deletetask_path(current_board.id, current_state.id, current_sprint.id, story.id, task.id), method: :delete do %>
                                <div class="text-fa"><span class="fa fa-times-circle"></span>&nbsp;Delete</div>
                            <% end %>
                            <%= link_to edittask_path(current_board.id, current_state.id, current_sprint.id, story.id, task.id) do %>
                                <div class="text-fa"><span class="fa fa-edit"></span>&nbsp;Edit&nbsp;&nbsp;</div>
                            <% end %>
                        <% end %>
                    <% end %>
                    <div class="info">
                        <span style="text-decoration:underline;"><%= story.description %></span>
                    </div>
                    <% if !task.description.blank? %>
                        <div class="info">
                        <%= task.description %>
                        </div>
                    <% end %>

                    <% if !task.weight.blank? %>
                        <div class="info">
                            <%= "Weight: " + task.weight.to_s + '%' %>
                        </div>
                    <% end %>

                    <% if !task.user.blank? %>
                        <div class="info">
                            <%= 'Assigned user: ' + task.user.username %>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
<% end %>
</body>
</html>


<br />
