<%= javascript_include_tag "sortable" %>
<%= yield :js %>

<div class="boardActions">
  <div class="boardTitle"><h1><%= @board.name %></h1></div>
  <div class="singularAction"><%= link_to 'Return to boards', boards_path %></div>
  <% if current_user_role == Membership.roles[:developer] %>
      <div class="singularAction"><%= link_to 'Add story to product backlog', newstory_path %></div>
  <% end %>
  <div class="singularAction"><%= link_to 'Manage members', invite_path %></div>
</div>
<br />

<% current_board.story_columns.each do |story_column| %>
    <div class="column", id="story_column.<%= story_column.id %>" data-col="<%= story_column.position %>">
        <h2><%= story_column.name %></h2>
        <div class="cards">
            <% story_column.stories.each do |story| %>
                <div class="card" id="story.<%= story.id %>">
                    <%= link_to editstory_path(current_board.id, story.id) do %><div class="text-fa"><span class="fa fa-edit"></span>&nbsp;Edit</div><% end %>
                    <%= link_to newtask_path(current_board.id, story.id) do %><div class="text-fa"><span class="fa fa-plus-circle"></span>&nbsp;Add task&nbsp;&nbsp;</div><% end %>
                    <% if !story.description.blank? %>
                        <div class="info">
                            <strong><%= story.description %></strong>
                        </div>
                    <% end %>

                    <% if !story.want.blank? %>
                        <div class="info">
                            <%= "As " + story.as + ", I want " + story.want + " so that " + story.so_that %>
                        </div>
                    <% end %>

                    <% if !story.criteria.blank? %>
                        <div class="info">
                            <%= 'Acceptance criteria: ' + story.criteria %>
                        </div>
                    <% end %>

                    <% if !story.size.blank? %>
                        <div class="info">
                            <%= 'Size estimate: ' + story.size %>
                        </div>
                    <% end %>
                    <% completion = completion(story) %>
                    <% if completion != -1 %>
                        <div class="info completion">
                            <%= 'Completion: ' + completion %>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
<% end %>

<% current_board.task_columns.each do |task_column| %>
    <div class="column" data-col="<%= task_column.position %>">
        <h2><%= task_column.name %></h2>
        <div class="cards">
            <% task_column.tasks.each do |task|%>
                <% story = Story.find(task.story_id) %>
                <div class="task" id="task.<%= task.id %>">
                    <%= link_to edittask_path(current_board.id, story.id, task.id) do %>
                        <div class="text-fa"><span class="fa fa-edit"></span>&nbsp;Edit</div>
                    <% end %>
                    <div class="info">
                        <span style="text-decoration:underline;"><%= story.description %></span>
                    </div>
                    <% if !task.description.blank? %>
                        <div class="info">
                        <%= task.description %>
                        </div>
                    <% end %>

                    <% if !task.weight.blank? %>
                        <div class="info">
                            <%= "Weight: " + task.weight.to_s %>
                        </div>
                    <% end %>

                    <% if !task.user.blank? %>
                        <div class="info">
                            <%= 'Assigned user: ' + task.user.username %>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
<% end %>

<br />
