<!DOCTYPE html>
<html>
<head>
    <title>BrumScoard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700,900" rel="stylesheet"type='text/css'>
    <%= csrf_meta_tag %>
</head>

<body>

    <header>
      BrumScoard
      &nbsp;&nbsp;<%= image_tag("brumscoard_logo.png")%>
      <!-- <img src="brumscoard_logo.png" width="40" height="29" /> -->
        <% if logged_in? %>
            <span>Logged in as: <%= current_user.username %>&nbsp;&nbsp;|&nbsp; <%= link_to "log out", logout_path, method: :delete %></span>
        <% else %>
            <span><a href='login'>Log In</a>&nbsp; |&nbsp;
            <a href='signup'>Sign Up</a></span>
        <% end %>
    </header>

    <div id="flashes">
        <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
    </div>


    <%= yield %>
</body>
</html>
