<!DOCTYPE html>
<html>
  <head>
    <title>BrumScoard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700,900" rel="stylesheet"type='text/css'>
  </head>

  <body>

      <header>
          BrumScoard
          <span><a href='login'>Log In</a>&nbsp
          <a href='signup'>Sign Up</a></span>
      </header>

      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>


      <%= yield %>
  </body>
</html>
